

<section class="sec-Perfil">
	<section class="sec-imgPerfil">
		<img style="filter:saturate(0)" width="120px" src="../../src/img/usuario.png" alt="">
	</section>
	<section class="sec-dataPerfil mt-4">
		<p><b>NickName</b></p>
	</section>
</section>
<section class="sec-opciones mt-5">
	<section class="opcion" id="opcionHome" onclick="router('id1')">
		<img src="../../src/icons/icons/1x/outline_home_white_18dp.png" alt="">
		<p>&nbsp;Home</p>
	</section>
	<section class="opcion" id="opcionVentas" onclick="router('id2')">
		<img src="../../src/icons/icons/1x/outline_assignment_white_18dp.png" alt="">
		<p>&nbsp;Ventas</p>
	</section>
	<section class="opcion" id="opcionInventario" onclick="router('id3')">
		<img src="../../src/icons/icons/1x/outline_assignment_white_18dp.png" alt="">
		<p>&nbsp;Inventario</p>
	</section>
	<section class="opcion" id="opcionPedidos" onclick="router('id4')">
		<img src="../../src/icons/icons/1x/outline_account_circle_white_18dp.png" alt="">
		<p>&nbsp;Pedidos</p>
	</section>
	<section class="opcion" id="opcionHistorial" onclick="router('id5')">
		<img src="../../src/icons/icons/1x/outline_history_white_18dp.png" alt="">
		<p>&nbsp;Historial de Compras</p>
	</section>
	<section class="opcion" id="opcionFavoritos" onclick="router('id6')">
		<img src="../../src/icons/icons/1x//outline_favorite_border_white_18dp.png" alt="">
		<p>&nbsp;Favoritos</p>
	</section>
</section>



<!--div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Toggle Sidebar</button>  
  <h2>Collapsed Sidebar</h2>
  <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
</div-->
