
.sec-Perfil{
    width: 100%;
    margin-top: 20px;
}
.sec-imgPerfil{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.sec-dataPerfil{
    text-align: center;
    color: white;
}
.opcion{
    height: 50px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.opcion:hover{
    background-color: black;
    color: rgba(255, 255, 255, 1);
}
p{
    margin: 0%;
}
.filtro{
    filter:invert(1);
}