<section class="row pedido" >
    <section class="col-xl-3 mb-3">
        <input class="form-control" type="text" id="articulo" placeholder="Articulo">
    </section>
    <section class="col-xl-3 mb-3" id="descripcion">
        <select class="form-control" name="" id="tipoArticulo">
            
            <option value="2">Motherboard</option>
            <option value="3">RAM</option>
            <option value="4">Cooler</option>
            <option value="5">HDD/SSD</option>
            <option value="6">Otros</option>
        </select>
    </section>
    <section class="col-xl-6 mb-3">
        <input class="form-control" type="text" id="url" placeholder="URL">
    </section>
    <section class="col-xl-3 mb-3">
        <input class="form-control" type="number" id="cantidad" placeholder="cantidad">    
    </section>
    <section class="col-xl-3 mb-3">
        <input class="form-control" type="number" id="precioUnida" placeholder="Precio C/U">
    </section>
    <section class="col-xl-3 mb-3">
        <input class="form-control" type="number" id="impuesto" placeholder="impuesto">
    </section>
    <section class="col-xl-3 mb-3">
        <input class="form-control" type="number" id="envio" placeholder="Gastos de envio">
    </section>
    <section class="col-xl-6">
        <section class="col-xl-12 mb-2">
            <input class="form-control" type="number" id="subTotal" placeholder="Sub-total" disabled>
        </section>
        <section class="col-xl-12 mb-2">
            <input class="form-control" type="number" id="comision" placeholder="Comision" disabled>
        </section>
        <section class="col-xl-12 mb-2">
            <input class="form-control" type="number" id="total" placeholder="Total" disabled>
        </section>
        <section class="col-xl-12">
            <button type="button" class="btn btn-success" id="btn-AgregarCarrito" style="width:100%;" onclick="obtenerCarrito()">Añadir al Carrito</button>
        </section>
    </section>
    <section class="col-xl-6">
        <textarea class="form-control" name="" id="" cols="20" rows="7" id="comentario" placeholder="Escribe un comentario aqui!"></textarea>
    </section>
</section>
<section class="pedido row">
    <div class="col-xl-12 row" style="width:100%; height: 90%;">
        <div class="col-12" style="padding-right:0%;">
            <h4>Comprar</h4>
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-dark">
                    <tr class="d-flex">    
                        <th class="col-1">Codigo</th>
                        <th class="col-2">Producto</th>
                        <th class="col-2">Tipo</th>
                        <th class="col-1">Cantidad</th>
                        <th class="col-2">Precio c/u</th>
                        <th class="col-2">Total</th>
                        <th class="col-1">URL</th>
                        <th class="col-1">Accion</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex altura">
                        <td class="col-1">#01</td>
                        <td class="col-2">Amd Ryzen 5 2400g</td>
                        <td class="col-2">Procesador</td>
                        <td class="col-1 td-number">2</td>
                        <td class="col-2 td-number">2,500.00 Lps</td>
                        <td class="col-2 td-number">5,000.00 Lps</td>
                        <td class="col-1 td-number OverHiden">https://www.amazon.com/AMD-Ryzen-Processor-Radeon-Graphics/dp/B079D8FD28/ref=sr_1_3?ie=UTF8&qid=1544139517&sr=8-3&keywords=ryzen+5+2400g</td>
                        <td class="col-1" style="text-align:center;">
                            <a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>
                            <a onclick="alert('modifica')"><i class="fas fa-pencil-alt"></i></a>
                            <a onclick="alert('favorito')"><i class="fas fa-heart"></i></a>
                        </td> 
                    </tr>
                </tbody>
                <tfoot>
 
                </tfoot>
            </table><!-- fin table -->
        </div><!-- fin col-8 -->
    </div><!-- fin row -->
    <section class="chv">
        <button type="button" class="btn btn-success">COMPRAR AHORA!</button>
    </section>
</section>
