.pedido{
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 98%;
    margin-left: 2%;
    margin-top: 20px;
}
.OverHiden{
    overflow: hidden;
}
.altura{
    height: 35px;
}