 <!-- navbar -->
 <header id="navbar-menu" class="navbar-menu container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark pr-md-5 pl-md-2" style="background-color:#FFF">
            <!-- <button type="button" id="sidebarCollapse" class="btn btn-sm btn-dark">
                <i class="fas fa-align-left"></i>
                <span>Menú</span>
            </button> -->
            <img src="../../src/img/logo.png" style="width: 220px; height: auto;" alt="">
            <ul class="navbar-nav d-none d-sm-block ml-auto">
                <li class="nav-item">
                    <p id="p-archivo-abierto" style="margin: 0px; padding: 0px"></p>
                </li>
            </ul>

            <nav class="navbar-item dropdown ml-4">    
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="perfil-usuario.html">Mi perfil</a>
                    <a class="dropdown-item" href="#">Configuraciones</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" onclick="cerrarSesion()">Cerrar sesion<i class="fas fa-sign-out-alt ml-2"></i></a>
                </div>
            </nav>
        </nav>
    </header>
    <!--fin navbar -->