@import url("../pages/dashboard/dashboard.css");
@import url("../pages/favoritos/favoritos.css");
@import url("../pages/historial/historial.css");
@import url("../pages/home/home.css");
@import url("../pages/inventario/inventario.css");
@import url("../pages/navBar/navBar.css");
@import url("../pages/pedidos/pedidos.css");
@import url("../pages/sideBar/sideBar.css");
@import url("../pages/ventas/ventas.css");

#ctrl-menuBread{
    margin-top: 40px;
}
.chv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullTamanio{
    width: 100%;
    height: 100%;
}
.fullW{
    width: 100%;
}
.fullH{
    height: 100%;
}
.opcionSelect{
    background-color: rgba(255, 255, 255, 0.562);
    height: 50px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.opcionUnselect{
    height: 50px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    display: flex;
    align-items: center;
}