.sec-pedidos{
    width: 100%;
    margin-top: 4px;
}
.data{
    height: 120px;
    border: 1px solid red;
    margin: 0%;
}







body{
    background-color: #FAFAFA 
}

/* tarjetas */
.tarjeta-info{
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

.azul{
    background-color: #007bff;
}

/* tablas */
.table input,
.table select{
    height: 100%;
    width: 100%;
}

.table select{
    font-size: 0.9rem;
}

i:hover{
    cursor: pointer;
}

.td-txt{
    text-align: left;
}

.td-number{
    text-align: right;
}

/* controles */
#ctrl-guardar{
    background: #28A745;
    font-size: 30px;
    bottom: 40px;
    right: 20px;
}

#ctrl-guardar{
    background: #28A745;
    padding: 15px;
    font-size: 30px;
    bottom: 40px;
    right: 20px;
}

#ctrl-guardar:hover{
    background: #218838;
    font-size: 31px;
    color: white;
}

#ctrl-eliminar{
    background:grey;
    padding: 10px;
    font-size: 15px;
    bottom: 110px;
    right: 20px;
}

#ctrl-eliminar:hover{
    background: tomato;
    font-size: 16px;
    color: white;
}

.control-flotante{
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    color: whitesmoke;
    cursor: pointer;
    position: fixed; 
}
