<section class="sec-pedidos">
    <section class="col-xl-12 row data">
        <section class="col-xl-3" style="border:1px solid red;">
            <h3>Estado Financiero</h3>
            <p>Fecha Actual</p>
            <p>Total: 25,100.00 Lps </p>
        </section>
        <section class="col-xl-3" style="border:1px solid red;">
            <div class="tarjeta-info azul">
                <h4 class="card-title">Dinero Disponible</h4>
                <p class="card-text td-number">10,700.00 Lps</p>
            </div>
        </section>
        <section class="col-xl-3" style="border:1px solid red;">
            <div class="tarjeta-info azul">
                <h4 class="card-title">Activos</h4>
                <p class="card-text td-number">9,700.00 Lps</p>
            </div>
        </section>
        <section class="col-xl-3" style="border:1px solid red;">
                <div class="tarjeta-info azul">
                    <h4 class="card-title">Activos por llegar</h4>
                    <p class="card-text td-number">4,700.00 Lps</p>
                </div></section>
    </section>
</section>