<section class="venta">
    <section style="width:100%; height: 100%;;">
        <h4>Ventas</h4>
        <section class="row" style="height:95%;">            
            <section class="col-xl-4" style="border: 1px solid red; height: 100%;">
                <input class="form-control" type="text" placeholder="Buscar Equipo">
                <section class="mt-3" style="border: 1px solid gray; border-radius: 4px; height:85%;">
                    <li>Amd Ryzen 3 2200g</li>
                    <li>Amd Ryzen 5 2400g</li>
                    <li>Intel Core i5 8100</li>
                    <li>Amd Ryzen 5 2400g</li>
                    <li>Amd Ryzen 5 2400g</li>
                </section>
            </section>
            <section class="col-xl-8" style="border: 1px solid red; height: 100%;">
                <section class="acciones" style="height:38px;">Iconos de acciones</section>
                <section class="mt-3" style="border: 1px solid gray; border-radius: 4px; height:85%;">

                </section>
            </section>
        </section>
    </section>
</section>