.venta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    padding: 20px;
    margin: 0%;
}
li:hover{
    background-color: blue;
}