<section>
    
    <section class="pedido row">
        <div class="col-xl-12 row" style="width:100%; height: 90%;">
            <div class="col-12" style="padding-right:0%;">
                <h4>Historial</h4>
                <table class="table table-sm table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="d-flex">    
                            <th class="col-2">Codigo</th>
                            <th class="col-2">Fecha Pedido</th>
                            <th class="col-2">Fecha Llegada</th>
                            <th class="col-2">Realizado por</th>
                            <th class="col-2">Gasto Compra</th>
                            <th class="col-2">Gastos de envio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex altura">
                            <td class="col-2"><a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>Pedido#1</td>
                            <td class="col-2">01/12/18</td>
                            <td class="col-2">15/12/18</td>
                            <td class="col-2">Arturo Ochoa</td>
                            <td class="col-2 td-number">10,200.00 Lps</td>
                            <td class="col-2 td-number">1,000.00 Lps</td>
                            <!--td class="col-1" style="text-align:center;">
                                <a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>
                                <a onclick="alert('modifica')"><i class="fas fa-pencil-alt"></i></a>
                                <a onclick="alert('favorito')"><i class="fas fa-heart"></i></a>
                            </td--> 
                        </tr>
                    </tbody>
                </table><!-- fin table -->
            </div><!-- fin col-8 -->
        </div><!-- fin row -->

    </section>
</section>