<section class="pedido row">
    <div class="col-xl-12 row" style="width:100%; height: 90%;">
        <div class="col-12" style="padding-right:0%;">
            <h4>Inventario</h4>
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-dark">
                    <tr class="d-flex">    
                        <th class="col-1">Codigo</th>
                        <th class="col-3">Producto</th>
                        <th class="col-2">Tipo</th>
                        <th class="col-1">Cantidad</th>
                        <th class="col-1">Costo</th>
                        <th class="col-1">Precio venta</th>
                        <th class="col-1">Ganancia</th>
                        <th class="col-1">Rango</th>
                        <th class="col-1">Calculado</th>
                    </tr>
                </thead>
                <tbody id="tablaInventario">
                        <!--td class="col-1" style="text-align:center;">
                            <a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>
                            <a onclick="alert('modifica')"><i class="fas fa-pencil-alt"></i></a>
                            <a onclick="alert('favorito')"><i class="fas fa-heart"></i></a>
                        </td--> 
                
                </tbody>
            </table><!-- fin table -->
        </div><!-- fin col-8 -->
    </div><!-- fin row -->
</section>