body{
    margin: 0%;
    padding: 0%;
}
.contPageHome{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
}
.navBar{
    border: 1px solid red;
    height: 8%;
}
.sideBar{
    border: 1px solid blue;
    height: 92%;
    background-color: rgb(27, 27, 27);
    padding: 0%;
}
.contenidoHome{
    border: 1px solid green;
    height: 92%;
    padding: 0%;    
}

