
    <!-- navbar -->
    <header id="navbar-menu" class="navbar-menu container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark pr-md-5 pl-md-2" style="background-color:#FFF">
            <!-- <button type="button" id="sidebarCollapse" class="btn btn-sm btn-dark">
                <i class="fas fa-align-left"></i>
                <span>Menú</span>
            </button> -->
            <img src="./img/logo.png" style="width: 220px; height: auto;" alt="">
            <ul class="navbar-nav d-none d-sm-block ml-auto">
                <li class="nav-item">
                    <p id="p-archivo-abierto" style="margin: 0px; padding: 0px"></p>
                </li>
            </ul>

            <nav class="navbar-item dropdown ml-4">    
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="perfil-usuario.html">Mi perfil</a>
                    <a class="dropdown-item" href="#">Configuraciones</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" onclick="cerrarSesion()">Cerrar sesion<i class="fas fa-sign-out-alt ml-2"></i></a>
                </div>
            </nav>
        </nav>
    </header>
    <!--fin navbar -->
    
    <!-- sidebar -->
    <div id="mySidebar" class="sidebar" >
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <img src="./src/img/logo-2.png" style="width: 220px; height: auto; margin-left: 15px;" alt="">
    <a href="#">Dashboard</a>
    <a href="#">Pedidos</a>
    <a href="#">Inventario</a>
    <a href="#">Cotizaciones</a>
    </div>
    <section id="main">
        <section class="col-12 fixed" style="border: 1px solid blue">
            <button class="openbtn" onclick="openNav()">☰ Menu</button>  
        </section>
        <section class="col-12" style="border: 1px solid red; height: 100%">
            <!-- page content  -->
            <div id="content">
                <!-- controles -->
                <div >
                    <span id="ctrl-eliminar" class="control-flotante fas fa-trash-alt" onclick="alert('Guarda!')"></span>
                    <span id="ctrl-guardar" class="control-flotante fas fa-save" onclick="alert('Guarda!')"></span>
                </div>
                <!-- fin controles -->
                <div class="container-fluid mt-3">
                    <!-- encabezado -->
                    <div class="row my-4">
                        <div class="col-3 mr-auto">
                            <h3>Pedido No. 13</h3>
                            <p>05-Nov-2018</p>
                        </div>
                        <div class="col-3">
                            <div class="tarjeta-info azul">
                                <h4 class="card-title">Abonado</h4>
                                <p class="card-text td-number">1,730.00 Lps</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="tarjeta-info azul">
                                <h4 class="card-title">Total</h4>
                                <p class="card-text td-number">1,730.00 Lps</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="tarjeta-info azul">
                                <h4 class="card-title">Gastos de Envio</h4>
                                <p class="card-text td-number">1,730.00 Lps</p>
                            </div>
                        </div>  
                    </div>
                    <!-- <div style="text-align: right">
                        <button type="button" class="btn btn-sm btn-success">Guardar<i class="fas fa-save ml-2"></i></button>
                    </div> -->
            
                    <hr>
                    
                    <div class="row">
                        <div class="col-12">
                            <h4>Clientes</h4>
                            <table class="table table-sm table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr class="d-flex">    
                                        <th class="col-1">Codigo</th>
                                        <th class="col-3">Cliente</th>
                                        <th class="col-1">Tipo</th>
                                        <th class="col-2">Total Compra</th>
                                        <th class="col-2">Deposito</th>
                                        <th class="col-2">Debe</th>
                                        <th class="col-1">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-1">#01</td>
                                        <td class="col-3">Kevin Oliva</td>
                                        <td class="col-1">Especial</td>
                                        <td class="col-2 td-number">483.95</td>
                                        <td class="col-2 td-number">483.95</td>
                                        <td class="col-2 td-number">0.00</td>
                                        <td class="col-1" style="text-align:center;">
                                            <a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>
                                            <a onclick="alert('modifica')"><i class="fas fa-pencil-alt"></i></a>
                                            <a onclick="alert('carrito')"><i class="fas fa-cart-plus"></i></a>
                                        </td> 
                                    </tr>
                                    <tr class="d-flex">
                                        <td class="col-1">#02</td>
                                        <td class="col-3">Brayan Lainez</td>
                                        <td class="col-1">Particular</td>
                                        <td class="col-2 td-number">1200.00</td>
                                        <td class="col-2 td-number">500.00</td>
                                        <td class="col-2 td-number">700.00</td>
                                        <td class="col-1" style="text-align:center;">
                                            <a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>
                                            <a onclick="alert('modifica')"><i class="fas fa-pencil-alt"></i></a>
                                            <a onclick="alert('carrito')"><i class="fas fa-cart-plus"></i></a>
                                        </td> 
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="d-flex">
                                        <td class="col-1"></td>
                                        <td class="col-3"><input type="text" name="txt-nombre" id="txt-nombre" placeholder="nombre cliente"></td>
                                        <td class="col-1">
                                            <select name="" id="">
                                                <option value="1">Particular</option>
                                                <option value="2">Especial</option>
                                            </select>
                                        </td>
                                        <td class="col-2"><input type="number" name="txt-total" id="txt-total" placeholder="total compra"></td>
                                        <td class="col-2"><input type="number" name="txt-deposito" id="txt-deposito" placeholder="deposito"></td>
                                        <td class="col-2">&nbsp;</td>
                                        <td class="col-1" colspan="6" style="text-align:center;">
                                            <button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table><!-- fin table -->
                        </div><!-- fin col-8 -->
                        <div class="col-12">
                                <h4>Productos</h4>
                                <table class="table table-sm table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr class="d-flex">    
                                            <th class="col-1">Cliente</th>
                                            <th class="col-2">Imagen</th>
                                            <th class="col-3">Descripcion</th>
                                            <th class="col-1">Cantidad</th>
                                            <th class="col-1">Monto</th>
                                            <th class="col-3">URL</th>
                                            <th class="col-1">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex">
                                            <td class="col-1">#01</td>
                                            <td class="col-2"></td>
                                            <td class="col-3">Intel i3 8100</td>
                                            <td class="col-1 td-number">1</td>
                                            <td class="col-1 td-number">3,500.00</td>
                                            <td class="col-3">https://</td>
                                            <td class="col-1" style="text-align:center;">
                                                <a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>
                                                <a onclick="alert('modifica')"><i class="fas fa-pencil-alt"></i></a>
                                                <a onclick="alert('carrito')"><i class="fas fa-cart-plus"></i></a>
                                            </td> 
                                        </tr>
                                        <tr class="d-flex">
                                            <td class="col-1">#02</td>
                                            <td class="col-2"></td>
                                            <td class="col-3">WD HDD portable 1TB</td>
                                            <td class="col-1 td-number">1</td>
                                            <td class="col-1 td-number">2,100.00</td>
                                            <td class="col-3">https://</td>
                                            <td class="col-1" style="text-align:center;">
                                                <a onclick="alert('borra')" class="mr-1"><i class="fas fa-trash-alt"></i></a>
                                                <a onclick="alert('modifica')"><i class="fas fa-pencil-alt"></i></a>
                                                <a onclick="alert('favorito')"><i class="fas fa-cart-plus"></i></a>
                                            </td> 
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="d-flex">
                                            <td class="col-1">
                                                <select name="" id="">
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                </select>
                                            </td>
                                            <td class="col-9"><input type="text" name="txt-nombre" id="txt-nombre" placeholder="URL"></td>
                                            <td class="col-1"><input type="number" name="txt-total" id="txt-total" placeholder="cantidad"></td>
                                            <td class="col-1" colspan="6" style="text-align:center;">
                                                <button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table><!-- fin table -->
                            </div><!-- fin col-8 -->
                    </div><!-- fin row -->
                </div><!-- container-fluid -->
            </div>
            <!-- fin page content  -->
        </section>
    </section>
    <!-- fin sidebar -->

    <!-- controles menu breadcrumb -->
    

    <section class="col-12">

    </section>
    <!-- controles menu breadcrumb -->
    

              
