body{
    margin: 0%;
    padding: 0%;
    background-color: black; 
}
.contPageLogin{
    position: absolute;
    width: 100%;
    height: 100%;
}
.fondo{
    background-image: url("../../src/img/fondoLogin.jpg");
    background-size: cover;
    filter: opacity(90%);
    background-position-x: 120%;
    background-position-y: 10%;
}
.login{
    width: 110%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
}
.logo{
    filter: opacity(70%);
}
.btnLogIn{
    width: 50%;
}
.input{
    background-color: rgba(128, 128, 128, 0.527);
}
.sec-btnFacebook{
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.btnFacebook{
    width: 80%;
}